@font-face {
  font-family: IBMPlexMono;
  src: url("../../fonts/IBMPlexMono-Regular.ttf");
}

$grey_blue: #1b2a4a;
$bright_blue: #0449e9;
$light_blue: #5195ea;
$grey: #595b63;
$light_grey: #9c9da2;
$white: #ededee;
