@font-face {
  font-family: IBMPlexMono;
  src: url("../../fonts/IBMPlexMono-Regular.ttf");
}

$primary: #0f1521;
$blue: #497bb9;
$red: #ce3a3a;
$gray: #1b232f;
$font-color: #bcbdc0;

$grey_blue: #1b2a4a;
$bright_blue: #0449e9;
$light_blue: #5195ea;
$grey: #595b63;
$light_grey: #9c9da2;
$white: #ededee;
